.container {
    width: 200px;
    height: auto;
    background: rgb(40, 40, 40);  
    border: 2px solid #fff;
    margin: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px 0;
    border-radius: 6px;
    text-align: center;
    transition: all .4s ease-out;
}

.container:hover {
    transform: scale(1.1);
    z-index: 100;
    box-shadow: 0px 0px 50px #000000;
    background-color: rgb(147, 31, 31);
}

.container:hover h2 {
    color: #e3e3e3;
    text-shadow: none;
}

.container:hover h4 {
    color: #f4f4f4;
    text-shadow: none;
}

.container:hover h3 {
    color: rgb(255, 255, 103);
    text-shadow: none;
}

.image {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.image img {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    filter: drop-shadow(0px 0px 20px #000);
}

.container h2 {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: .6px;
    color:#f44009cc;
    padding: 0;
    padding-bottom: 4px;
    margin: 0;
}

.container h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: .6px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 1);
    padding: 0;
    margin: 0;
}

.container h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: .6px;
    color: rgb(255, 255, 22);
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 1);
    padding: 10px 0px;
    padding-bottom: 0;
    margin: 0;
}


.attackValue {
    font-size: 20px;
    color: rgb(255, 255, 146);
}















@media (max-width: 600px) {

    .container {
        width: 180px;
        height: auto;
        background: rgb(40, 40, 40);  
        border: 2px solid rgb(80, 0, 0);
        margin: 0;
        margin-right: 0px;
        margin-bottom: 20px;
        padding: 20px 0;
        border-radius: 4px;
        text-align: center;
        transition: all .4s ease-out;
    }
    
    .container:hover {
        transform: scale(1.1);
        z-index: 100;
        box-shadow: 0px 0px 50px #333;
        background-color: rgb(147, 31, 31);
    }
    
    .container:hover h2 {
        color: #e3e3e3;
        text-shadow: none;
    }
    
    .container:hover h4 {
        color: #f4f4f4;
        text-shadow: none;
    }
    
    .container:hover h3 {
        color: rgb(255, 255, 103);
        text-shadow: none;
    }
    
    .image {
        width: 100%;
        height: auto;
        padding: 0px 0;
        margin: 0;
    }
    
    .image img {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        filter: drop-shadow(0px 0px 20px #000);
    }
    
    .container h2 {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: .6px;
        color:#f44009cc;
        padding: 0;
        padding-bottom: px;
        margin: 0;
    }
    
    .container h4 {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: .6px;
        color: rgb(255, 255, 255);
        text-shadow: none;
        padding: 0;
        margin: 0;
    }
    
    .container h3 {
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: .6px;
        color: rgb(255, 255, 22);
        text-shadow: none;
        padding: 10px 0px;
        padding-bottom: 0;
        margin: 0;
    }
    
    
    .attackValue {
        font-size: 17px;
        color: rgb(255, 255, 146);
    }
    
    
    
}