#root {
  width: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../public/bg.jpeg');
  background-size: cover;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.container {
  max-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  animation: dowing 2s 2s ease 1;
  position: relative;
}

@keyframes dowing {
  0% { transform: translateY(-50vw) }
  100%{ transform: translateX(0)}
}

a {
  text-decoration: none;
}