.container {
    width: 80%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    background-color: #ffffff90;
    backdrop-filter: blur(5px);
    border: 2px solid #fff;
    border-radius: 12px;
    overflow: hidden;
}

.subcontainer {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    overflow: hidden;
}

.container h2 {
    font-size: 24px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: #222;
}

form {
    width: 50%;
    height: auto;
    padding: 20px 60px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgba(255, 255, 0, 0.252);
    backdrop-filter: blur(1px);
    border-radius: 12px;
    border: 1px solid #33333370;
}

.errors_danger {
    font-size: 14px;
    color: red;
    text-align: left;
    padding: 6px;
}

.box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}


input {
    width: 240px;
    height: auto;
    margin: 0px;
    padding: 5px 8px;
    background-color: #ffffff95;
    border: 1px solid #fff;
    border-radius: 4px;
    display: inline;
    color: #222;
    font-size: 18px;
    font-weight: 500;
}

input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #111;
}

.rangeDiv {
    width: 260px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    margin-bottom: 10px;
}

label {
    font-size: 16px;
    font-weight: 600;
    display: inline;
    color: #111;
}

input[type="range"]{
    appearance:none;
    width: 240px;
    height: auto;
    padding: 7px 0px;
    margin: 0px;
    background: linear-gradient(to right, #0c92ff 0%, #0078d7 50%, #004985 100%);
    background-size:90% 10px;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
  }
    
  input[type="range"]::-webkit-slider-thumb{
    appearance:none;
    width:20px;
    height:20px;
    background: linear-gradient(to right, hwb(0 100% 0%) 0%, #004985 80%);
    border-radius: 50%;
    position:relative;
    border: 1px solid #fff;
    z-index:3;
  }

.typesDiv {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

select {
    width: 205px;
    height: auto;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    padding: 6px 8px;
    border-radius: 4px;
    border: .5px solid #333;
    background: transparent;
    cursor: pointer;
    color: #111;
}

select option {
    background-color: red; 
    color: yellow;
    font-size: 18px;
    font-weight: 600;
  }

  .botonContainer {
    width: 100%;
    height: auto;
  }
  
.boton {
    width: 260px;
    height: auto;
    background: red;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    cursor: pointer;
    margin: 0;
    padding: 7px 0;
    border-radius: 6px;
}

.boton:hover {
    background: rgb(255, 60, 60);
}


















@media (max-width: 600px) {

    .container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        background-color: rgb(255, 255, 139);
        margin: 0;
        padding-top: 100px;
    }
    
    .createTitle h2 {
        font-size: 16px;
        font-weight: 700;
        padding: 0;
        margin: 0;
        color: #333;
        letter-spacing: .4px;
        padding-top: 0;
    }
    
    .succes {
        color: #db0909;
    }
    
    form {
        width: 80%;
        height: auto;
        padding: 20px 10px;
        margin: 0px auto;
        margin-top: 20px;
        background: rgba(0, 0, 0, .2);
        display: flex;
        flex-direction: column;
    
    }
    
    .formLeft {
        padding-right: 0px;
    }
    
    .formRight {
        padding-left: 0;
    }
    
    .box {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .errors {
        font-size: 16px;
        font-weight: 400;
        color: rgb(255, 35, 35);
        text-align: left;
        padding-left: 60px;
        margin-bottom: 20px;
    }
    
    .inputDiv {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    
    label {
        font-size: 16px;
        font-weight: 600;
        margin-right: 8px;
        display: inline;
        color: #111;
    }
    
    input {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 8px 5px;
        background-color: #e6e6e6b9;
        border: .5px solid #111;
        border-radius: 5px;
        display: inline;
        color: #111;
        font-size: 16px;
        font-weight: 600;
    }
    
    input::placeholder {
        font-size: 14px;
        font-weight: 400;
        color: #222;
    }
    
    .rangeDiv {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    
    input[type="range"]{
        appearance:none;
        width: 300px;
        height: auto;
        padding: 7px 0px;
        margin: 0px;
        background: linear-gradient(to right, #0c92ff 0%, #0078d7 50%, #004985 100%);
        background-size:90% 10px;
        background-position:center;
        background-repeat:no-repeat;
        overflow:hidden;
        outline: none;
        border: .5px solid #222;
        cursor: pointer;
      }
        
      input[type="range"]::-webkit-slider-thumb{
        appearance:none;
        width:20px;
        height:20px;
        background: linear-gradient(to right, hwb(0 100% 0%) 0%, #004985 80%);
        border-radius: 50%;
        position:relative;
        border: solid 1px;
        z-index:3;
        box-shadow:0 0 2px 0 rgba(0,0,0,0.3);
      }
    
    .typesDiv {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    select {
        width: 100%;
        height: auto;
        font-size: 14px;
        font-weight: 400;
        margin-left: 10px;
        padding: 8px 5px;
        border-radius: 6px;
        border: .5px solid #fff;
        background: #c0c0c0;
        cursor: pointer;
        color: #111;
    }
    
    select:hover {
        background: #b8b8b8;
    }
    
    select option {
        background-color: #dcdcdc; 
      }
      
    input[type="submit"]{
        background: #004985;
        border: none;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .6px;
        color: #fff;
        text-shadow: none;
        cursor: pointer;
        margin: 20px auto;
    }
    
    input[type="submit"]:hover {
        background: #002c51;
    }


}