.container {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(255, 255, 139);
    margin: 0 auto;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 140px;
    color: #474747;
}

.card {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0px auto;
    margin-top: 40px;
    border-radius: 4px;
    background: rgba(27, 27, 27, 1);  
    border: 2px solid #fff;
    text-align: center;
    display: flex;
    align-items: center;
}

.txt {
    padding: 10px 80px;
    border-left: 1px solid #fff;
    background-color: #111;
}

.txt h2 {
font-size: 28px;
letter-spacing: .6px;
color:#f44009cc;
text-shadow: 0px 0px 5px #000;
padding: 0;
margin: 0;
margin-bottom: 30px;
}

.image {
    width: auto;
    height: auto;
    padding: 0px 50px;
}

.image img {
    width: 100%;
    object-fit: scale-down;
    transform: scale(1.4);
    filter: drop-shadow(0px 0px 20px #000);
}


.txt h4 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .6px;
    color: rgba(220, 220, 220, 1);
    padding: 0;
    margin: 0;
} 

.valores {
    color: rgb(255, 253, 149);
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
}

.txt  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: .6px;
    color: rgb(255, 255, 96);
    padding: 0;
}

.buttonClose {
    width: auto;
    height: auto;
    text-align: right;
}
.close {
    font-size: 16px;
    font-weight: 700;
    padding: 4px 6px;
    color: rgb(197, 11, 11);
	border: 1px solid rgb(197, 11, 11);
	border-radius: 3px;
    cursor: pointer;
    text-align: right;
    position: relative;
    left: 68px;
    background-color: #000;
}

.close:hover {
    background-color: #333;
}


