.container {
    width: auto;
    height: auto;
    position: relative;
}

.container label {
    background-color: rgba(256,256,256,.8);
    padding: 6px 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.input {
    width: 140px;
    height: auto;
    font-size: 14px;
    padding: 0;
    color: #333;
    border: none;
    border-radius: none;
    background-color: transparent;
}

.input::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}

.input:focus {
    border: none;
    outline: none;
}

.button {
    width: auto;
    height: auto;
    font-size: 12px;
    color: #333;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.2);
}

.suggestions {
    width: 180px;
    max-height: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    background: red;
    border: 1px solid yellow;
    position: absolute;
    top: 32px;
    overflow-y: auto;
    z-index: 100;
    border-radius: 6px;
}

.suggestions::-webkit-scrollbar {
    display: none;
}

.suggestions li {
    padding: 4px 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: yellow;
    color: red;
}










@media (min-width: 700px) and (max-width: 860px) { 
    .container label {
        padding: 4px 6px;
    }
    
    .input {
        width: 110px;
        height: auto;
        font-size: 12px;
        padding: 0;
        color: #333;
    }
    
    .input::placeholder {
        font-size: 12px;
        font-weight: 600;
        color: #444;
    }
    
    .input:focus {
        border: none;
        outline: none;
    }
    
    .button {
        width: auto;
        height: auto;
        font-size: 12px;
        color: #333;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .button:hover {
        transform: scale(1.2);
    }
    
    .suggestions {
        width: 180px;
        max-height: 150px;
        list-style: none;
        padding: 0;
        margin: 0;
        background: red;
        border: 1px solid yellow;
        position: absolute;
        top: 32px;
        overflow-y: auto;
        z-index: 100;
        border-radius: 6px;
    }
    
    .suggestions::-webkit-scrollbar {
        display: none;
    }
    
    .suggestions li {
        padding: 4px 8px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
    }
    
    .suggestions li:hover {
        background-color: yellow;
        color: red;
    }
}









@media (max-width: 700px) {
    
    .container {
        width: 100%;
        height: auto;
        position: relative;
        background-color: yellow;
        display: flex;
        justify-content: center;
        padding: 6px 0;
    }
    
    .container label {
        width: auto;
        background-color: rgba(256,256,256,.8);
        padding: 5px 8px;
        border-radius: 4px;
        overflow: hidden;
        display: flex;
        border: 1px solid #333;
    }
    
    .input {
        width: 300px;
        height: auto;
        font-size: 14px;
        padding: 0;
        color: #333;
        border: none;
        border-radius: none;
        background-color: transparent;
    }
    
    .input::placeholder {
        font-size: 14px;
        font-weight: 500;
        color: #262626;
    }
    
    .input:focus {
        border: none;
        outline: none;
    }
    
    .button {
        width: auto;
        height: auto;
        font-size: 12px;
        color: #333;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .button:hover {
        transform: scale(1.2);
    }
    
    .suggestions {
        width: 180px;
        max-height: 150px;
        list-style: none;
        padding: 0;
        margin: 0;
        background: red;
        border: 1px solid yellow;
        position: absolute;
        top: 32px;
        overflow-y: auto;
        z-index: 100;
        border-radius: 6px;
    }
    
    .suggestions::-webkit-scrollbar {
        display: none;
    }
    
    .suggestions li {
        padding: 4px 8px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
    }
    
    .suggestions li:hover {
        background-color: yellow;
        color: red;
    }
    
    

}