.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url('./bg.jpeg');
    background-size: cover;
}

.txtContainer {
    width: auto;
    height: auto;
    text-align: center;
    padding: 30px 60px;
    border-radius: 6px;
    border: 1px solid #fff;
    animation: up 3s ease forwards;
    background-color: #d1d1d17d;
    backdrop-filter: blur(6px);
}

    @keyframes up{
        0%{opacity: 0;}
        100%{opacity: 1;}
    }

.logoPoke {
    width: 100%;
    height: auto;
    margin: 0px auto;
}

.logoPoke img {
    width: 30%;
}

.txtContainer h2 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: .6px;
    color: #111;
    margin: 15px 0;
    margin-bottom: 0;
}

.txtContainer h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .6px;
    color: #222;
    margin: 0;

}

.txtContainer button {
    width: auto;
    height: auto;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: rgb(255, 50, 50);
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.txtContainer button:hover {
   background-color: rgb(255, 9, 9);
}













@media (max-width: 600px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-image: url('./bg.jpeg');
        background-size: cover;
        padding: 0;
    }
    
    .txtContainer {
        width: 80%;
        height: auto;
        text-align: center;
        padding: 25px 10px;
        margin: 0;
        border-radius: 6px;
        border: 1px solid #fff;
        animation: up 1s ease forwards;
        background-color: transparent;
        backdrop-filter: blur(10px);
    }
    
        @keyframes up{
            0%{opacity: 0;}
            100%{opacity: 1;}
        }
    
    .logoPoke {
        width: 100%;
        height: auto;
        margin: 0px auto;
    }
    
    .logoPoke img {
        width: 30%;
    }
    
    .txtContainer h2 {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: .4px;
        word-spacing: -.8px;
        color: #111;
        margin: 15px 0;
        margin-bottom: 0;
        padding: 0;
    }
    
    .txtContainer h3 {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: .6px;
        color: #212121;
        margin: 0;
        margin-top: 10px;
        padding: 0;
    
    }
    
    .txtContainer button {
        width: auto;
        height: auto;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        margin-top: 20px;
        padding: 6px 12px;
        border-radius: 6px;
        background-color: rgb(255, 50, 50);
        border: 1px solid #fff;
        color: #fff;
        cursor: pointer;
    }
    
    .txtContainer button:hover {
       background-color: rgb(255, 9, 9);
    }

}