.container {
    width: auto;
    height: auto;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(67, 67, 255);
}

.filters {
    width: auto;
    display: flex;
    justify-content: start;
}

.box {
    width: auto;
    margin-right: 30px;
}

.container label {
    width: auto;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.container select {
    width: auto;
    max-width: 110px;
    height: auto;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .4px;
    padding: 2px 4px;
    margin: 0;
    margin-left: 4px;
    border-radius: 4px;
    border: .5px solid #fff;
    color: #fff;
    cursor: pointer;
    background: transparent;
}

.container select:hover {
    background-color: transparent;
}

.container select:focus {
    outline: none;
}

.container select option {
    background-color: #fff;
    font-size: 15px;
    font-weight: 600;
    color: #222;
}
















@media (max-width: 860px) {    
    .container {
        padding: 10px 20px;
    }
    
    .box {
        margin-right: 15px;
    }
    
    .container label {
        display: none;
    }
    
    .container select {
        max-width: 92px;
        font-size: 12px;
        font-weight: 500;
        padding: 2px 3px;
        margin-left: 3px;
    }
    
    .container select:hover {
        background-color: transparent;
    }
    
    .container select:focus {
        outline: none;
    }
}












@media (max-width: 700px) {
    
    .container {
        width: 100%;
        height: 45px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 35px;
        z-index: 1000;
        overflow: hidden;
    }
    
    .filters {
        width: auto;
        display: flex;
        justify-content: start;
        padding: 0;
        padding-left: 10px;
        margin: 0;
        z-index: 1000;
    }
    
    .box {
        width: auto;
        margin-right: 8px;
    }
    
    .container label {
        display: none;
    }
    
    .container select {
        width: 90px;
        height: auto;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: .6px;
        padding: 5px;
        margin: 0;
        background: transparent;
        border-radius: 2px;
        border: .5px solid #fff;
        color: #fff;
    }
    
    .container select:focus {
        outline: none;
    }
    
    .container select option {
        background-color: #fff;
        font-weight: 600;
    }
    
    
}