.container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

 @keyframes walking {
        0% {opacity: 1; }
        100% {opacity: 0;}
    }

@keyframes left {
        0%{ left: 0;}
        100%{left: -2000px;}
}

.cardsContainer {
    width: 100%;
    height: auto;
    margin: 0px auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.types {
    width: auto;
    height: auto;
    margin-left: 40px;
    padding: 20px;
    border-radius: 4px;
    background-color: #222;
    float: left;
}

.types li {
    list-style-type: none;
    padding: 7px 0px;
}

.types button {
    font-size: 20px;
    font-weight: 600;
    color: rgba(170,170,170,.6);
    text-shadow: 1px 1px 1px #000;
    background: transparent;
    border: none;
    cursor: pointer;
}

.types button:hover {
    color: rgba(170,170,170,1)
}

.notFound {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 300px;
}

.notFound h3 {
    font-size: 38px;
    color: rgba(170,170,170,1);
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    margin: 30px auto;
}

.notFound img {
    width: 60%;
    height: auto;
    margin: 0px auto;
    margin-top: 50px;
}

.cards {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;  
}

.pagination {
    width: 100%;
    height: auto;
    background: #222;
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination_span {
    font-size: 18px;
    font-weight: 400;
    margin: 0px 30px;
}

.pagination button {
    font-size: 16px;
    font-weight: 600;
    padding: 6px 14px;
    cursor: pointer;
    background: #333;
    border-radius: 4px;
    border: none;
}

.pagination button:hover {
    background: #444;
}







