.typesContainer {
    width: auto;
    height: auto;
}

.types {
    width: auto;
    height: auto;
    padding: 17px 34px;
    margin: 0;
    background-color: #ffff00;
    z-index: 1000;
}

.types li {
    list-style-type: none;
    padding: 0;
}

.types button {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: .8px;
    color: #222;
    text-shadow: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
    text-align: left;
    transition: all .6s ease;
    border-bottom: .5px solid transparent;
}

.types button:hover {
    color: #000;
    border-bottom: .5px solid #000;
}













@media (min-width: 900px) and (max-width: 1200px) {
    .types {
        width: auto;
        height: auto;
        padding: 17px 20px;
        margin: 0;
        background-color: #ffff00;
        z-index: 1000;
    }

    .types button {
        font-size: 16px;
    }
}







@media (min-width: 700px) and (max-width: 960px) {
    .types {
        width: auto;
        height: auto;
        padding: 14px 16px;
        margin: 0;
        background-color: #ffff00;
        z-index: 1000;
    }

    .types button {
        font-size: 15px;
        line-height: 12px;
    }
}




































@media (max-width: 700px) {
    .typesContainer {
        width: auto;
        max-height: 100vh;
        overflow-y: scroll;
    }

    .typesContainer::-webkit-scrollbar {
        display: none;
    }
    
    .types {
        width: auto;
        height: 100vh;
        padding: 8px 10px;
        margin: 0;
        background-color: #ffffff90;
        z-index: 1000;
        position: fixed !important;
        top: 130px;
    }
    .types li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .types button {
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        line-height: 10px;
        letter-spacing: .4px;
        color: #222;
        text-shadow: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        margin-bottom: 0;
        text-align: left;
        transition: all .6s ease;
        border-bottom: .5px solid transparent;

    }
    
    .types button:hover {
        color: #222;
        border-bottom: .5px solid transparent;
    }
    
}







@media (max-width: 540px) {
    .typesContainer {
        overflow: hidden;
    }
    
    .types {
        padding: 10px;
        max-height: calc(100vh - 130px);
        overflow-y: scroll;
    }

    .types::-webkit-scrollbar {
        display: none;
    }

    .types button {
        color: #111;
    }
    
    .types button:hover {
        color: #111;
        border-bottom: none;
    }

}
